{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing, price in listings %}
        <div>
            {% if listing.image %}
                <img alt="{{ listing.title }} image" src="{{ listing.image }}" style="height: 10%; width: 10%;">
            {% endif %}
            <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
            <p><strong>Price</strong>: ${{ price }}</p>
            <p>{{ listing.description }}</p>
            <p>Created {{ listing.time }}</p>
        </div>
    {% empty %}
        <div>No currently active listings.</div>
    {% endfor %}
{% endblock %}
