{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a New Page</h1>

    <form action="{% url 'create' %}" method="post">
        <input autocomplete="off" autofocus type="text" name="title" placeholder="Title">
        <br>
        <textarea autocomplete="off" cols="50" name="content" placeholder="Content" rows="4"></textarea>
        {% csrf_token %}
        <br>
        <button class="btn btn-light" type="submit">Create Encyclopedia</button>
    </form>
{% endblock %}
